// FONT
$main-font: "Montserrat", sans-serif;
$font-secondary: "Inter", sans-serif;
$font-tertiary: "Roboto", sans-serif;

// FONT-SIZE
// small <= 20px
$font-size-s-1: 12px;
$font-size-s-2: 13px;
$font-size-s-3: 14px;
$font-size-s-4: 15px;
$font-size-s-5: 16px;
$font-size-s-6: 17px;
$font-size-s-7: 18px;
$font-size-s-8: 19px;
$font-size-s-9: 20px;

// medium  20px> <= 30px
$font-size-m-1: 22px;
$font-size-m-2: 25px;
$font-size-m-3: 30px;

// large > 30px
$font-size-l-1: 40px;
$font-size-l-2: 50px;
$font-size-l-3: 160px;
$font-size-l-4: 223px;

// LETTER-SPACING
$letter-spacing-none: 0;

// LINE-HEIGHT
$line-height-1: 18px;
$line-height-2: 19px;
$line-height-3: 20px;
$line-height-4: 21px;
$line-height-5: 22px;
$line-height-6: 23px;
$line-height-7: 24px;
$line-height-8: 25px;
$line-height-9: 26px;
$line-height-10: 28px;
$line-height-11: 31px;
$line-height-12: 36px;
$line-height-13: 46px;
$line-height-14: 56px;
$line-height-15: 166px;
$line-height-16: 229px;

// FONT-WEIGHT
$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 700;
$font-weight-black: 900;
