@use './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: variables.$page-width;
    margin: 0 auto;
    padding: 48px 0;
    
    border: 1px solid skyblue;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

a {
    color: variables.$color-black-1;
    text-decoration: none;
    cursor: pointer;
}

ul {
    list-style: none;
}
